body {
	background-color: #fcfcb8;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

h1 {
	text-align: center;
}

body {
	margin-left: 5%;
	margin-right: 5%;
}

figure {
	float: right;
	display: block;
	margin: auto;
	max-width: 100%;
}

a:hover {
	background-color: yellow;
}

footer {
	text-align: center;
}