body {
	background-color: white;
	padding: 0px;
	margin: 0px;
	min-height:100%;
}

header {
	background-color: black;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

section {
	background-color: #D3D3D3;
	margin: 10%
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

figure {
	float: right;
	display: block;
	margin: auto;
	max-width: 100%;
}

a:hover {
	background-color: yellow;
}

footer {
	text-align: center;
}