body {
	background-color: lightblue;
}

img {
	display: block;
	margin: auto;
	width: 50%;
}

h1 {
	text-align: center;
}

body {
	margin-left: 5%;
	margin-right: 5%;
}

footer {
	text-align: center;
}